header {
    text-align: left;
    height: 55px;
    color: #ffffff;
    background-color: #155ecc;
    background-image: url('../img/pattern.png');
    background-size: contain;

}

.logo {
    margin-top: 1%;
    width: 12%;
}


#section-subtitle {
    color: #8a8a8a;
    line-height: 1px;
    font-size: smaller;
}

.light-blue {
    color: #62bedd;
}

.text-highlighted {
    background-color: #ffea4e;
}

th {
    color: #fff;
    background-color: #2f73cb;
    width: 10%;
    text-align: left;
}

.table-blue {
    background-color: #7bc0d7;
}

h4 {
    color: #4d4d4d;
}

.text-white {
    color: #ffffff;
}

footer {
    text-align: left;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.footer-image0 {
    background-image: url('../img/monitor.jpg');
}

.image {
    width: 208px;
    height: 160px;
}

.footer-image1 {
    background-image: url('../img/graph.jpg');

}