header {
    text-align: left;
    height: 55px;
    color: white;
    background-color: rgb(21, 94, 204);
    background-image: url('../img/pattern.png');
    background-size: contain;

}

.title-header0 {
    font-size: 23px;
    color: white;
    font-family: Arial;
}

.title-header1 {
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: Arial;
}

#section-subtitle {
    color: rgb(138, 138, 138);
    line-height: 1px;
    font-size: smaller;
}

.light-blue {
    color: rgb(98, 190, 221);
}

.text-highlighted {
    background-color: #ffea4e;
}

th {
    color: #fff;
    background-color: #2f73cb;
    width: 10%;
    text-align: left;
}

.table-blue {
    background-color: rgb(123, 192, 215);
}

h4 {
    color: rgb(77, 77, 77);
}

footer {
    text-align: left;
    height: 200px;
    background-image: url('../img/monitor.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}